@font-face {
  font-family: LeagueSpartan-Bold;
  src: url("../../Font/LeagueSpartan-Bold.otf");
}

@font-face {
  font-family: futura-medium-bt;
  src: url(../../Font/futura-medium-bt.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 253, 250);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

.HomeButt button {
    height: 50px;
    width: 150px;
    background-color: rgb(0, 255, 0);
    opacity: 0.8;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: LeagueSpartan-Bold;
    color: wheat;
    position: absolute;
    top: 11px;
    margin-left: 2%;
}

.Info {
    margin: 0;
    position: absolute;
    visibility: visible;
    top: 150px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.Info h1 {
    font-family: LeagueSpartan-Bold;
}

@keyframes OnWidgetRotate {
    from{
        transform: translateY(11px) rotate(0deg);
    }
    to{
        transform: translateY(21px) rotate(5deg);
    }
}

@keyframes OffWidgetRotate {
    to{
        transform: translateY(11px) rotate(0deg);
    }
}